{% include "header.j2"  %}
{%- if machine.bbcp_dest_dir == "${DW_JOB_STRIPED}" %}
{% include "bb_allocation_header.j2"  %}
{%- endif %}
{% include "count_header.j2" %}
{% include "transfer_body.j2" %}

# Remove any // ($DW_JOB_STRIPED has a trailing slash)
BBCP_DEST_DIR=`echo "{{machine.bbcp_dest_dir}}/{{job.id}}" |  sed 's/\/\//\//g'`

srun --exclusive -c {{machine.cpus_per_task}} -n {{machine.nodes}} shifter python3 {{settings.JOB_COUNT_SCRIPT_PATH}} --pad -l $BBCP_DEST_DIR -t {{threshold}} -s {{scan.scan_id}} --multi-pass || error_exit "Error shifter execution failed."

cp ${BBCP_DEST_DIR}/data_scan*.h5  {{dest_dir}}/data_scan{{scan.scan_id}}_id{{scan.id}}_electrons.h5 || error_exit "Failed to copy counted data to ncemhub."

{%- if machine.bbcp_dest_dir == "$PSCRATCH/ncem" %}
# Clean up
rm -rf {{machine.bbcp_dest_dir}}/{{job.id}}
{%- endif %}