uvicorn[standard]
fastapi>=0.139.0
python-multipart
pyjwt[crypto]
bcrypt
sqlalchemy
pydantic>=2.13.4,<3
pydantic-settings>=2.14.2,<3
psycopg2
aiokafka
alembic
aiofiles
aiopath
coloredlogs
python-dateutil
cachetools
