:root {
  --header-height: 64px;
  --navigation-height: 56px;
  --footer-height: 56px;
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  z-index: 10;
  position: sticky;
  top: 0;
}

.navigation {
  z-index: 10;
  position: fixed;
  bottom: 56px;
  left: 0;
  right: 0;
}

.footer {
  z-index: 10;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  overflow-y: auto;
  padding-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: calc(var(--navigation-height) + var(--footer-height) + 1rem);
}

.content--interactem {
  overflow: hidden;
  padding: 0;
}

.interactem-page {
  height: calc(
    100vh - var(--header-height) - var(--navigation-height) -
      var(--footer-height)
  );
  width: 100vw;
  position: relative;
  z-index: 1;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

.inner-content {
  flex-grow: 1;
  width: 100%;
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

.spinner {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
