* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  z-index: 10;
}

.content {
  flex-grow: 1;
  width: 100%;
  overflow-y: auto;
  padding-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.inner-content {
  width: 100%;
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

.spinner {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(359deg);}
}