name: pytest
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    defaults:
        run:
          working-directory: backend/faust
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Install Ubuntu packages
        run: |
          sudo apt-get install -y \
            build-essential \
            curl \
            libsnappy-dev \
            libbz2-dev \
            liblz4-dev \
            zlib1g-dev \
            python3-rocksdb

      - name: Install dependencies
        run: |
          # The requirements from requirements.base.txt minus rocksdb which
          # is install as a debian package above
          pip install faust-streaming pydantic[dotenv]==v1.10.10 numpy
          pip install -r requirements.job.txt -r requirements.dev.txt
          pip install authlib
      - name: Set PYTHONPATH
        run: |
          echo "PYTHONPATH=$GITHUB_WORKSPACE/backend/faust" >> $GITHUB_ENV
      - name: Run pytest
        run: |
          pytest